{
   "gpio_send":22,
   "gpio_receive":27,
   "radio":{
      "pulselength":350,
      "protocol":1,
      "codelength":24,
      "repeats":10
   },
   "outlets":{
      "A":{
         "name":"Terasse",
         "code_on":1361,
         "code_off":1364,
         "operations":{
            "1":{
               "type":"time",
               "on":1650,
               "off":1655
            }
         }
      },
      "B":{
         "name":"Schuppen",
         "code_on":4433,
         "code_off":4436,
         "operations":{
            "1":{
               "type":"time",
               "on":1650,
               "off":1655
            }
         }
      },
      "C":{
         "name":"linke Steckdose",
         "code_on":5201,
         "code_off":5204,
         "operations":{
            "1":{
               "type":"time",
               "on":1650,
               "off":1655
            }
         }
      },
      "D":{
         "name":"rechte Steckdose",
         "code_on":5393,
         "code_off":5396,
         "operations":{
            "1":{
               "type":"time",
               "on":1650,
               "off":1655
            },
            "2":{
               "type":"calculate",
               "on":"sunset;+0",
               "off":"sunset;+60"
            }
         }
      }
   },
   "openweatherlocation":"zip=23569,de",
   "openweatherapikey":""
}
